.app__about {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 224, 236, 0.2);
}

.app__about .icon {
    font-size: 50px;
}

.app__about_content_1 {
    width: 100%;
    margin: 0 .5rem 0 0;
}

.app__about_content_1 h1 {
    font-size: 28px;
    font-family: var(--font-base2);
}

.app__about_content_2 {
    width: 100%;
    margin: 0 1.5rem;
    display: flex;
    /* flex-direction: row; */
}

.app__about_content_2 div {
    margin-left: 20px;
}

.app__about_content_3 {
    width: 100%;
    margin: 0 0 0 .5rem;
    display: flex;
    /* flex-direction: row; */
}

.app__about_content_3 div {
    margin-left: 20px;
}

.app__about_content_2 h2,
.app__about_content_3 h2 {
    font-family: var(--font-base);
    font-size: 20px;
}

.app__about_content_2 p,
.app__about_content_3 p {
    font-size: 14px;
}

@media screen and (max-width:1150px) {
    .app__about {
        flex-direction: column;
    }

    .app__about_content_2 {
        margin: 2rem 0 0 0;
    }

    .app__about_content_3 {
        margin: 2rem 0 0 0;
    }
}